{% extends 'base.html.twig' %}

{% block body %}
        {{ form_start(form) }}

            {{ form_row(form.title) }}

            {{ form_row(form.content) }}
            
    

            <button type="submit" class="btn btn-success">Ajouter</button>
        {{ form_end(form) }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

